@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#topMenu {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #2F4F4F;
    padding: 0px;
}
    header img{
        vertical-align: top;
    }
    header img:hover{
        cursor: pointer;
    }
    #logoHeader {
        padding-top: 5px;
        padding-left: 50px;
        margin: 0px;
    }
    #userHeader{
        float:right;
        margin-right: 50px;
        padding-top: 5px;
    }
    #bagHeader{
        float: right;
        margin-right: 50px;
        padding-top: 5px;
    }
    header ul {
        list-style: none;
        display: inline-block;
        margin: 0px
    }
        header li {
            font-size: 30;
            text-align: center;    
            display: inline-block;
            height: 80px;
            width: 100px;
            margin:0;
            padding-top: 28px;
            font-family: 'Oxygen', sans-serif;
            font-weight: bold;
            color: #DAA520;
        }
        header li:hover{
            cursor: pointer;
        }
main {
    margin-top: 70px;
    padding-top: 10px;
    background-color: #E5E5E5;
    height: fit-content;
    width: 100%;
}

#home{
    width:100%;
    height: fit-content;
    padding-bottom: 10px;
}
    #carrosel {
        
        margin: 15px auto;        
        width: 1200px;
        height: 370px;
        background-color: #C4C4C4;
        border-radius: 10px;
    }

    #entenda {
        width: 100%;
        height: 300px;
        background-color: #2F4F4F;
        padding-top: 10px;
        text-align: center;
        color: #DAA520;
    }
    #stepbystep {
        margin: 0 auto;
        display: flex;
        width: 837px;
        height: 200px;
        flex-wrap: wrap;
        column-gap: 50px;
    }
    .stepbystep {
        height:200px;
        width: 200px
    }
#userCad {
    margin: 0 auto;
    border-radius: 30px;
    height: 835px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2F4F4F;
    color:#DAA520;
    column-gap: 20px;

    padding-top: 50px;
    padding-left: 100px;
}
    #inviteCad {
        text-align: center;                
    }
        #inviteCad h3{
            display: inline-block;
            font-family: 'Oxygen', sans-serif;
            font-size: 26px;
        }
        #logoCad {
            vertical-align: middle;
        }
    #formCad {
        width: 700px;
        height: 360px
    }
    .inputCad{
        border-radius: 50px;
        padding-left: 20px;
        width: 300px;
        height: 40px;
        margin: 40px 45px 0 0;
    }
    #email {
        display: block;
        width: 650px;
    }
    #estagios {
        width: 293px;
        height: 360px;
    }