@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Lato';
    padding: 0px;
    margin: 0px;
    --green: #2F4F4F;
    --yellow: #DAA520;
    --white: #F9F9F9;
    --cream: #FAEBD7;
    --black: #1f0322;

    color:var(--black)
}
html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
option {
    font-family: 'Oxygen', sans-serif;
}   
/*  */

.slider-frame{
    z-index: -1;
    overflow: hidden;
    height: 80vh;
    width: 100vw;
}
@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 100vw;}
    30% {left: 200vw;}
    40% {left: 300vw;}
    50% {left: 400vw;}
    60% {left: 500vw;}
    70% {left: 400vw;}
    80% {left: 300vw;}
    90% {left: 400vw;}
    100% {left: 0px;}
}
.slide-images{
    width: 600vw;
    height: 80vh;
    margin: 0 0 0 -500vw;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    height: 80vh;
    width:  100vw;
    position: relative;
    float: left;
}
.img-container img{
    height: 80vh;
    width: 100vw;
}

/*  */

#header{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--green);
    padding: 0px;    
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px black;
}
    #topMenu {
        height: 56px;
        width: 1100px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }
        header img{
            vertical-align: top;
        }
        header img:hover{
            cursor: pointer;
        }
        #logoHeader {
            margin: 15px 0 0 00;
        }
        #bagHeader{
            margin-right: 50px;
            height: 46px;
            width: 46px;
        }
        #userHeader{
            height: 46px;
            width: 46px;
        }
        header ul {
            list-style: none;
            display: inline-block;
            margin: 0px;            
        }
            header li {
                font-size: 24px;
                text-align: center;    
                display: inline-block;
                height: 80px;
                margin-right: 15px;
                margin-left: 50px;
                font-family: "Lato";
                color: var(--yellow);
                padding-top: 26px;
            }
            header li:hover{
                cursor: pointer;
                color: var(--cream);
                transition: 250ms;
            }
main{
    margin-top: 60px;
    height: 100%;
    width: 100%;
}

/* Sessão 'Página Inicial' */
#home{
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /* Carrosel inicio*/
    #carrosel{
        z-index: -1;
        width: 100vw;
        position: absolute ;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.6);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 100px;
    }
        #logoNegativa{
            height: 400px;
        }
        #carrosel p{
            width: 400px;
            color: var(--white);
            text-align: justify;
            
            font-family: "Open Sans";
            font-size: 18px;
        }
    
    /* Carrosel fim */

        #entenda-box {
            width: 100%;
            height: 275px;
            background-color: var(--green);
            color: var(--yellow);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 4px 4px 0px #00000040;
        }
            #entenda{
                width: 1300px;
                height: 225px;
            }
                #entenda-box h3{
                    padding: 0px;
                    margin: 0px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    font-size: 28px;
                    margin-bottom: 36px;
                    color: var(--yellow);
                }
                #stepbystep{
                    margin: 0 auto;
                    display: flex;
                    width: 1000px;
                    height: 145px;
                    flex-wrap: wrap;
                    column-gap: 50px;
                    font-size: 18px;
                    justify-content: space-between;
                    align-items: center;                    
                }
                    #stepbystep span{
                        color: var(--white);
                        font-size: 50px;
                        font-weight: bold;
                    }
                    .imgSetinhas{
                        width: 55px;
                        height: 31px;
                    }
                    .stepbystep {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 200px;                        
                    }
                        .stepbystep p{
                            width: 330px;
                            color: var(--yellow);
                            font-family: "Lato";
                        }
                        .stepbystep img{
                            width: 75px;
                            height: 75px;                            
                        }

/* Sessão 'Usuário' */
#userCad-box {
    margin: 110px auto 0;
    border-radius: 10px;
    height: 600px;
    width: 1200px;
    display: none;
    justify-content: center;
    background-color: var(--green);
    color: var(--yellow);
    column-gap: 20px;
    padding-top: 50px;
    box-shadow: 1px 4px 4px 0px #1a2d2d40;
}
    #userCad{
        width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        #inviteCad {
            text-align: center;
            display: flex;
            width: 505px;
            align-items: center;
            justify-content: center;
        }
            #inviteCad h3{
                color: var(--yellow);
                font-size: 40px;
                margin-right: 15px;
            }
        #formCad{
            display: flex;
            align-items: center;
        }
            .inputCad{
                border-radius: 10px;
                padding-left: 20px;
                width: 300px;
                height: 40px;
                margin: 40px 45px 0 0;
                border: none;
            }
            #email {
                display: block;
                width: 650px;
            }
            #estagios {
                width: 293px;
                height: 360px;
            }
            #calvicie{
                width: 650px;
            }
        #cadButton {
            margin-top: 30px;
            width: 150px;
            height: 38px;
            color: var(--white);
            background-color: var(--yellow);
            border-radius: 10px;
            border:none;
            box-shadow: 1px 4px 4px 0px #1a2d2d40;
        }
            #cadButton:hover{
                cursor: pointer;
                background-color: #ffc126;
                transition: 250ms;
            }

#login {
    margin: 110px 0 0;
    height: 100%;
    width: 100%;
    display:none;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
    #loginForm {
        height: 510px;
        width: 450px;
        border-radius: 15px;
        background-color: var(--green);
        padding-top: 30px;

        text-align: center;
        box-shadow: 1px 4px 4px 0px #00000040;
    }
    #loginForm input{
        display: block;
    }
    #logoLogin, #logoAccountLost, #logoInviteCard {
        margin:0;
        width: 110px;
        height: 70px;
    }
    #loginSpeech{
        margin: -10px auto 0;
        font-family: 'Oxygen', sans-serif;
        font-size: 32px;
        line-height: 51px;

        color: var(--yellow);
    }
    #loginReminder {
        margin: -15px auto 30px;
        font-family: 'Oxygen', sans-serif;
        font-weight: normal;
        font-size: 26px;
        line-height: 51px;

        color: var(--white);
    }
    .loginForm{
        display:block;
        margin: 0 auto 24px;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        padding-left: 20px;
        border: none;

        font-size: 16px;
        font-weight: bold;
        font-family: 'Cairo', sans-serif;
    }
    #loginButton {
        margin: 10px auto 10px;
        width: 160px;
        border-radius: 10px;
        color:var(--white);
        background-color: var(--yellow);
        border:none;

        font-family: 'Cairo',sans-serif;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 1px 4px 4px 0px #1a2d2d40;
    }
    #loginButton:hover {
        cursor: pointer;
        background-color: #ffc126;
        transition: 250ms;
    }
    #forgetButton {
        margin: 0 auto 50px;
        width: 160px;
        height: 30px;
        font-size: 14px;
        
        background:var(--green);
        color: var(--yellow);
        border: 2px solid var(--yellow);
        border-radius: 10px;
    }
    #forgetButton:hover {
        cursor: pointer;
        box-shadow: 1px 4px 4px 0px #daa52040;
    }
    #loginInvite {
        color: var(--cream);
        font-size: 11px;
    }
    #loginInvite:hover{
        cursor: pointer;
    }
#accountLost {
    margin: 110px 0 0;
    height: 100%;
    width: 100%;
    display:none;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
    #accountLostPanel {    
        height: 475px;
        width: 400px;
        border-radius: 15px;
        background-color: var(--green);
        padding-top: 30px;

        text-align: center;
        box-shadow: 1px 4px 4px 0px #00000040;
    }
    #accountLostPanel h3 {
        margin: 0 auto;
        height: 102px;
        width: 285px;
        text-align: center;
        color:var(--yellow);

        font-family: "Oxygen", sans-serif;
        font-size: 32px;
        line-height: 40px;
    }
    #accountLostPanel p {
        width:330px;
        height:165px;
        margin:0px auto 15px;
        color:var(--white);

        font-size: 18px;
        font-weight: bold;
        line-height: 34px;
    }
    #accountLostPanel span {
        color: var(--yellow);
        font-size: 22px;
        display: inline-block;
        margin: 10px;
        text-decoration: underline;        
    }
        #accountLostPanel span:hover{
            cursor: pointer;
            color: #ffce53;
            transition: 250ms;
        }
    #AccountLostBack {
        margin: 9px auto 20px;
        width: 250px;
        height: 42px;
        border-radius: 10px;
        color: var(--white);
        background-color: var(--yellow);
        border:none;

        font-family: 'Cairo',sans-serif;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 1px 4px 4px 0px #00000040;
    }
    #AccountLostBack:hover{
        cursor: pointer;
        background-color: #ffc126;
        transition: 250ms;
    }
#crudSpace {
    width: 1040px;
    height: 515px;
    margin: 110px auto 0;
    background-color: var(--green);
    border-radius: 30px;
    padding-top: 20px;    
    display: none;
}
    #crudHeader {
        text-align: center;
        margin: 0 auto;
        height: 30px;
        width: 800px;
        border-bottom: 1px solid var(--yellow);                
    }        
        .crudMenu {
            margin:0 50px;
            font-size: 20px;
            padding: 0;
        }
    #crudSelect{
        display: none;        
        height: 425px;
        width: 1000px;
        margin: 20px auto;
    }
        #crudSelect h3{
            color: var(--white);
            font-size: 26px;
            font-weight: normal;
            text-align: center;
        }
        #crudSelectFilters{            
            margin: 0 auto;
            width: 200px;
            height: 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            column-gap: 10px;
            row-gap: 10px;
        }
            #buscarPor{
                font-family: 'Oxygen', sans-serif;
            }
            #crudSelectButton {
                height: 20px;
                width: 80px;
                border-radius: 10px;
                color: var(--white);
                background-color: var(--yellow);
                border: none;
                text-align: center;

                line-height: 18px;
            }
            #crudSelectButton:hover {
                cursor: pointer;
                background-color: #ffc126;
                transition: 250ms;
            }
            #crudSelectFilter {
                width: 150px;
                height: 20px;
                border-radius: 5px;
                padding-left: 5px;
                border: none;
            }
            #crudSelectPacksSelect {
                font-family: 'Oxygen', sans-serif;
            }
            #crudSelectPacksSelect option{
                font-family: 'Oxygen', sans-serif;
            }
        .crudResults {            
            display: block;
            height: fit-content;
            width: fit-content;
            max-height: 300px;
            overflow-y: scroll;
            margin: 0 auto;
        }
            .crudResults td, .crudResults th, .crudResults table {
                border: var(--black) 1px solid;
                border-collapse: collapse;
                color: var(--black);
                background-color: var(--white);
            }
                .crudResults td, .crudResults th {
                    padding-left: 10px;
                    padding-right: 10px;
                }
    #crudInsert{
        display: none;
        height: 425px;
        width: 1000px;
        margin: 20px auto;
    }    
        #crudInsert h3{
            color: var(--white);
            font-size: 26px;
            font-weight: normal;
            text-align: center;
        }
        #crudInsertSelect {
            display: block;
            margin: 10px auto;
            font-family: 'Oxygen', sans-serif;
        }
        #crudInsertPacks {
            display: none;
            margin: 65px auto;
            height: 215px;
            width: 425px;            
        }
        #crudAlterPacks {
            display: none;
            margin: 65px auto;
            height: 215px;
            width: 425px;            
        }
        #crudInsertUser {
            display: none;            
            margin: 65px auto;
            height: 200px;
            width: 416px;           
        }
        #crudAlterUser {
            display: none;
            margin: 45px auto;
            height: 200px;
            width: 416px;            
        }
        .crudAlert {
            display: block;
            height: 20px;
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            color: var(--white);
        }
            #crudInsertPacks input, #crudInsertPacks textarea {
                margin:12px
            }
            #crudAlterPacks input, #crudAlterPacks textarea {
                margin:12px
            }
            #crudInsertUser input, #crudInsertUser label {
                margin:5.5px 7.5px;
            }
            #crudInsertUser label, #crudAlterUser label{
                color: var(--white); 
                padding-left: 40px;
            }
            #crudAlterUser input, #crudAlterUser label {
                margin:5.5px 7.5px;
            }
            .crudPacksName {
                width: 190px;
                height: 22px;
                border-radius: 5px;
                display:block;
                border:none;
                outline: none;
                padding-left: 15px;
            }
            .crudPacksDescricao {
                width: 400px;
                height: 50px;
                border-radius: 5px;
                display:block;
                border:none;
                outline: none;
                padding-left: 15px;
            }
            .crudPacksImage {
                width: 400px;
                height: 22px;
                border-radius: 5px;
                display:block;
                border:none;
                outline: none;
                padding-left: 15px;
            }
            .crudPacksPreco {
                width: 400px;
                height: 22px;
                border-radius: 5px;
                display:block;
                border:none;
                outline: none;
                padding-left: 15px;
            }
            .crudPacksButton {                                
                width: 85px;
                height: 22px;
                border-radius: 10px;
                background-color: var(--yellow);
                color: var(--white);
                line-height: 20px;
                display:block;
                border:none;
                outline: none;
            }
            .crudUsersMedium {
                width: 190px;
                height: 22px;
                border-radius: 5px;
                display:inline;
                border:none;
                outline: none;
                padding-left: 15px;
            }            
            .crudUsersEmail {
                width: 399px;
                height: 22px;
                border-radius: 5px;
                display:block;
                border:none;
                outline: none;
                padding-left: 15px;
            }
            .crudUsersAssinatura {
                width: 83px;
                height: 22px;
                border-radius: 5px;
                display:inline;
                border:none;
                outline: none;
                padding-left: 15px;
            }
            .crudUsersTipo {
                width: 167px;
                height: 22px;
                border-radius: 5px;
                display:inline;
                border:none;
                outline: none;
                padding-left: 15px;
            }
            .crudUsersButton {
                width: 85px;
                height: 22px;
                border-radius: 10px;
                background-color: var(--yellow);
                color: var(--white);
                line-height: 20px;
                display:block;
                border:none;
                outline: none;
            }
    #crudAlter{
        display: none;
        height: 425px;
        width: 1000px;
        margin: 20px auto;
    }
        #crudAlter h3{
            color: var(--white);
            font-size: 26px;
            font-weight: normal;
            text-align: center;
        }
        #crudAlterSelect {
            display: block;
            margin: 10px auto;
            font-family: 'Oxygen', sans-serif;
        }
        #crudAlterID {            
            width: 167px;
            height: 22px;
            margin: 0 auto;
            border-radius: 5px;
            display:block;
            border:none;
            outline: none;
            padding-left: 15px;
        }
        #crudAlterSearchButton {
            width: 85px;
            height: 22px;
            margin: 10px auto;
            border-radius: 10px;
            background-color: var(--yellow);
            color: var(--white);
            line-height: 20px;
            text-align: center;
            display:block;
            border:none;
            outline: none;
        }
        #crudAlterSearchButton:hover {
            cursor: pointer;
            background-color: #ffc126;
            transition: 250ms;
        }
    #crudDelete{
        display: none;        
        height: 425px;
        width: 1000px;
        margin: 20px auto;        
    }
        #crudDelete h3{
            color: var(--white);
            font-size: 26px;
            font-weight: normal;
            text-align: center;
        }
        #crudDeleteSelect {
            display: block;
            margin: 10px auto;
            font-family: 'Oxygen', sans-serif;
        }
            #crudDeleteSelect option {
                font-family: 'Oxygen', sans-serif;
            }
        #crudDeleteID {            
            width: 167px;
            height: 22px;
            margin: 0 auto;
            border-radius: 5px;
            display:block;
            border:none;
            outline: none;
            padding-left: 15px;
        }
        #crudDeleteSearchButton {
            width: 85px;
            height: 22px;
            margin: 10px auto;
            border-radius: 10px;
            background-color: var(--yellow);
            color: var(--white);
            line-height: 20px;
            display:block;
            border:none;
            outline: none;
        }
        #crudDeleteButton {
            width: 85px;
            height: 22px;
            margin: 10px auto;
            border-radius: 10px;
            background-color: var(--yellow);
            color: var(--white);
            line-height: 20px;
            display:none;
            border:none;
            outline: none;
        }
/* Sessão 'Sobre Nós' */
#aboutUs-box{
    margin: 50px auto 0;
    width: 1070px;
    height: 625px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutUs{
    display: flex;
    flex-direction: row;
    column-gap: 150px;
    flex-wrap: nowrap;
}
    #aboutUs-box h3{
        font-size: 28px;
        text-align: center;
        margin-bottom: 36px;
        color: var(--black);
    }
    #us {
        width: 500px;
        height: 500px;
        padding-top: 30px;
        padding-left: 30px;

        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
    }
        .foto img{
            width: 200px;
            height: 200px;
            border-radius: 10px;
            border: solid 3px black;
        }
    #us p {
        margin: 0 auto;
        width: 380px;
        height: 170px;

        font-size: 26px;
        text-align: center;
    }
    #idea {
        width: 420px;
        height: 420px;
        padding-top: 55px;

        font-size: 26px;
        text-align: justify;
        color: var(--black);
    }
#produtos-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    width: 100%;
    box-shadow: 1px 4px 4px 0px #00000040;
}
#produtos{
    width: 1100px;
    height: 650px;
}
    #produtos h2{
        color: var(--green);
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: "Open Sans";
    }
    #seletorPacote{
        margin-left: 30px;
        height: 150px;

        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
        .seletor {
            width: 150px;
            height: 50px;
            background-color: var(--green);
            color: var(--white);
            border: none;
            border-radius: 5px;

            font-size: 18px;
            box-shadow: 1px 4px 4px 0px #00000040;
        }
        .seletor:hover {
            cursor: pointer;
            background-color: #416e6e;
            transition: 250ms;
        }
        
    #painelProduto {
        height: 600px;
        margin-top: -75px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
        #productPhoto{
            height: 500px;
            width: 500px;

            display: flex;
            align-items: center;
            justify-content: center;
        }
            #productPhoto img{
                width: 300px;
                height: 300px;            
            }
        #descricaoProduto{
            height: 150px;
        }
            #descricaoProduto img{
                margin: 0;
            }
            #nomeProduto{
                width: 300px;
                color: var(--green);

                font-family: 'Open Sans';
                font-size: 32px;
            }
            #descricaoProduto p{
                width: 450px;
                color: var(--green);

                font-size: 14px;
                line-height: 26px;

            }
        #precos {
            width: 500px;
            height: 300px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 30px;
        }
            .precoContainer {
                height: 255px;
                width: 227px;
            }
                .desconto {                    
                    height: 40px;
                    width: 75px;
                    border-radius: 60px;
                    padding-top: 10px;
                    float:right;

                    background-color: var(--green);
                    color: var(--white);
                    
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                }
                .precoFrame {
                    width: 190px;
                    height:230px;
                    background-color: var(--white);
                    box-shadow: 1px 4px 4px 0px #00000040;
                    margin: 20px;
                    padding-top: 30px;
                    border-radius: 5px;

                    text-align: center;
                }
                    .precoFrame h3 {
                        font-size: 30px;
                        line-height: 30px;
                        font-weight: bold;
                        color: var(--yellow);
                        font-family: "Open Sans";
                    }
                    .precoFrame h4 {
                        font-size: 18px;
                        line-height: 20px;
                        font-weight: bold;
                        color: var(--yellow);
                        font-family: "Open Sans";
                    }
                    .precoAntes {
                        margin-top: 20px ;
                        font-weight: bold;
                        font-size: 18px;
                    }
                        .precoAntes span {
                            text-decoration: line-through;
                        }
                    .precoAtual {                        
                        font-size: 18px;
                    }
                        .precoAtual span {
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 30px;
                        }
                    .buyButton {
                        margin-top: 15px;
                        height: 30px;
                        width: 150px;

                        border:none;
                        border-radius: 50px;

                        background-color: var(--yellow);
                        color: var(--white);
                        box-shadow: 1px 4px 4px 0px #00000040;
                    }
                    .buyButton:hover{
                        cursor: pointer;
                        background-color: #ffc126;
                        transition: 250ms;
                    }
#oQueVai-box{
    width: 100vw;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}
    #oQueVai{
        width: 1100px;
    }
        #oQueVai h2{
            color: var(--green);
            text-align: center;
            font-weight: bold;
            font-size: 28px;
            font-family: "Open Sans";
            margin-bottom: 50px;
        }
        #oQueVaiItens{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 50px;
        }
            .oQueVaiItensCaixa{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 10px;
            }
            .oQueVaiItensCaixa div{
                text-align: justify;
            }
                .oQueVaiItensCaixa img{
                    height: 110px;
                    width: 110px;
                }
                .oQueVaiItensCaixa p{
                    font-weight: bold;
                    font-size: 20px;
                    width: 170px;
                    font-family: "Open Sans";
                    color: var(--green);                    
                }
                .oQueVaiItensCaixa span{
                    font-size: 14px;
                }
#carrinho {
    margin: 110px auto 0;
    width: 1300px;
    height: 100%;
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
    #carrinhoCard {
        width: 1100px;
        height: 420px;
        padding-top: 50px;
        padding-left: 50px;

        border-radius: 15px;
        background-color: var(--green);

        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }
        #carrinhoTitle {
            width: 600px;
            height: 40px;
            padding-left: 20px;
            margin: 0;            

            font-size: 24px;
            font-weight: bold;
            font-family: 'Oxygen', sans-serif;

            color: var(--yellow);
            border-bottom: 3px var(--yellow) solid;
        }
        #emptyCart{
            width: 1000px;
            height: 30px;
            display: block;
            text-align: center;
            margin: 40px auto;
            color: var(--white)
        }
        #carrinhoContainer {
            width: 725px;
            height: 250px;
            padding-top: 10px;
            padding-left: 10px;


            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            background-color: var(--white);
            border-radius: 10px;
            box-shadow: 1px 4px 4px 0px #00000040;            
        }
            #carrinhoPhotoBox {
                height: 230px;

                display: flex;
                flex-wrap: wrap;

                justify-content: center;
                align-items: center;
            }
                #carrinhoPhoto {
                    height: 150px;
                    width: 150px;
                }
            #carrinhoContainer h4 {
                width: 530px;
                height: 50px;

                color: var(--green);
                font-family: 'Oxygen', sans-serif;
                font-size: 32px;
                font-weight: bold;
            }
            #carrinhoDescricao {
                padding-top: 10px;
                padding-left: 20px;
                font-size: 18px;
                text-align: justify;

                width: 530px;
                height: 130px;
            }
            #carrinhoPrecoAtual {
                width: 530px;
                height: 50px;

                text-align: end;
                font-size: 20px;
            }
                #carrinhoPrecoAtual span{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 40px;
                }
        #carrinhoFinal {
            width: 250px;
            height: 250px;
            padding-top: 10px;

            background-color: var(--white);
            border-radius: 10px;

            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 1px 4px 4px 0px #00000040;
        }
            #carrinhoFinal h3{
                color: var(--green);
                font-family: 'Oxygen', sans-serif;
                font-size: 32px;
                font-weight: bold;
            }
            #carrinhoPrecoFinal {
                font-size: 20px;
                margin-top: 40px;
                margin-bottom: 30px;
            }
                #carrinhoPrecoFinal span{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 40px;
                }
            #carrinhoFinalizar {
                height: 40px;
                width: 150px;                

                background-color: var(--yellow);
                color: var(--white);

                border-radius: 10px;
                border:none;

                font-size: 20px;
                font-family: 'Oxygen', sans-serif;
                font-weight: bold;
                box-shadow: 1px 4px 4px 0px #00000040;
            }
            #carrinhoFinalizar:hover {
                cursor: pointer;
            }
#thankYou {
    margin: 110px auto 0;
    width: 1300px;
    height: 100%;
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
    #thankYouCard {
        width: 1100px;
        height: 350px;
        padding-top: 50px;
        padding-left: 50px;

        border-radius: 15px;
        background-color: var(--green);

        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }
    #thankYouTitle {
        width: 600px;
        height: 40px;
        padding-left: 20px;
        margin: 0;            

        font-size: 24px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;

        color: var(--yellow);
        border-bottom: 3px var(--yellow) solid;
    }
    #thankYouMessage{
        width: 525px;
        height: 85px;
        display: block;
        text-align: justify;
        margin: 40px auto;
        font-size: 24px;
        color: var(--white)
    }

#profilePage-box{
    margin: 110px auto;
    width: 1100px;
    height: 350px;
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: var(--green);
    border-radius: 15px;
    border: 1px solid var(--yellow) outset;
}
    #profilePage{
        display: flex;
    }
        #profilePage-left{
            width: 250px;
            background-color: var(--green);
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;
        }
            #profilePage-left span{
                color: var(--yellow);
            }
            #profilePage-left-um, #profilePage-left-dois{
                height: 50px;
                width: 250px;
                border: 1px solid var(--yellow);
                background-color: var(--green);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: var(--yellow);
            }
                #profilePage-left-dois{                    
                    border-radius: 0 0 0 15px ;
                }
                #profilePage-left-um:hover, #profilePage-left-dois:hover{
                    background-color: #416e6e;
                    color:  var(--white);
                    transition: 250ms;
                }
            #profilePage-left-img{
                border: 1px solid var(--yellow);
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--green);
                height: 250px;
                width: 250px;
                border-radius: 15px 0 0 0 ;
            }

            #profilePage-right h3{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                width: 250px;
                font-size: 22px;
                font-weight:normal;
                color: var(--yellow);
            }
            #infoDoFetch{
                margin: 15px 0px 0 15px;
                width: 800px;
                display: flex;
                column-gap: 25px;
            }
            #infoDoFetchPerfilDesc{
                font-size: 18px;
                font-weight: bold;
            }
            #infoDoFetch img{
                margin-left: 75px;
            }
                #infoDoFetch h3{
                    font-size: 26px;
                }
                #infoDoFetch p{
                    color: var(--white);
                }
                #infoDoFetch span{
                    font-size: 18px;
                    color: var(--white);
                }
footer {
    height: 110px;
    width: 100%;
    background-color:var(--green);
}
    #footer-box{
        display: flex;
        flex-wrap: wrap;
        width:1300px;
        height: 100px;
        margin: 0 auto;
        column-gap: 30px;        
    }
        #footer-right, #footer-left {
            height: 100px;
            width: 400px;            
        }
            #footer-right {
                padding: 1em 1em;
                text-align: right;
            }
            #footer-left {
                padding: 1em 1em;
                text-align: left;
            }
            #footer-left p, #footer-right p {
                font-size: 20px;
                color: var(--yellow)
            }
            #footer-right .linkedin, #footer-right .github {
                float: right
            }
            #footer-left .linkedin, #footer-left .github {
                float: left
            }
            .linkedin, .github {
                margin: 10px 10px;
                fill: var(--yellow);
                width: 24px;
                height: 24px;                
            }
            .linkedin:hover, .github:hover {
                cursor:pointer;
                fill:var(--cream);
                transform: scale(105%);
            }
        #footer-mid {
            padding-top: 1em;
            height: 100px;
            width: 438px;
        }
        #footer-mid p, #footer-mid span {
            display: block;
            font-size: 16px;
            color: var(--yellow);
            text-align: center;
        }